html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: "IBM Plex Sans","Helvetica","Arial",sans-serif!important;
}
.SideBarNav .MuiPaper-root, .TopBarCollapse {
    background: #112B45!important;
    color: #FFFFFF;
}
.TopBarCollapse .FontWeak{
    font-weight: lighter;
}
.TopBarCollapse .Font400{
    font-weight: 400;
}
.TopBarCollapse .Font600{
    font-weight: 600;
}

.SideBarNav nav a {
    color: #A8B8C9;
    padding: 0px 11px 0px 11px;
    margin: 0rem 1.5rem 1em 1.5rem;
    font-size: 16px!important;
}

.SideBarNav nav a .MuiTypography-root{
    font-size: 16px!important;
}
.SideBarNav nav a svg {
    position: relative;
    top: 2px;
}

.SideBarNav a:hover,.SideBarNav a:focus,.SideBarNav a:active {
    background: rgba(238, 246, 255, 0.2);
    border-radius: 4px;
    color: #FFFFFF;
}
.SideBarNav .MuiCollapse-root a{
    margin-left:2.5em;
}
.listDs,.listClient{
    padding-top: 0;
    padding-bottom: 0;
}

.listTitle {
    padding-top: 0;
    padding-bottom: 1.5em;
}

.listDs span {
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: -20px;
}

.listTitle span,.listClient span{
    font-size: 30px;
}

.listClient span {
    margin-top: -15px;
    margin-bottom: -30px;
    font-weight: 600;
}
.MuiContainer-maxWidthXl .MuiGrid-container {
    margin-bottom: 5rem;
}
.MuiContainer-root .MuiGrid-container .MuiGrid-root.MuiGrid-item {
    background:#FFFFFF;
    padding: 32px 48px 0px 48px!important;
}

.colorPalette .MuiBox-root .MuiTypography-root {
    text-align: center;
}

.titleComponents{
    background: #112B45;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    font-size: 1.15em!important;
    margin-bottom: 2rem!important;
}
.css-1lb67eh,.css-1qaftog,.makeStyles-gradientE-5 {
    border: 1px solid #CBD5E0;
}

#typographyNav .MuiBox-root .MuiBox-root .MuiTypography-gutterBottom {
    margin-bottom: 0.9em!important;
}

.css-vkq2m7-MuiTypography-root {
    font-size: 15px!important;}

.css-1b6hymy-MuiTypography-root, .css-a57mgm-MuiTypography-root {
    color: #112B45!important;
    font-weight: 400!important;
}
.MuiContainer-maxWidthXl #buttonNav .MuiGrid-container {
    margin-bottom: 2rem;
}
#buttonNav .css-1b6hymy-MuiTypography-root {
    margin-top: 5rem;
}

#buttonNav .css-1b6hymy-MuiTypography-root:first-of-type {
    margin-top: 0;
}
.css-105auzw-MuiButtonBase-root-MuiButton-root {
    color: #0DC298!important;
    border-color: #0DC298!important;
}