html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: "IBM Plex Sans","Helvetica","Arial",sans-serif!important;
}
.SideBarNav .MuiPaper-root, .TopBarCollapse {
    background: #112B45!important;
    color: #FFFFFF;
}
.TopBarCollapse .FontWeak{
    font-weight: lighter;
}
.TopBarCollapse .Font600{
    font-weight: 600;
}
.SideBarNav .MuiListItem-root a {
    color: #A8B8C9;
    padding: 0px 8px 0px 8px;
}
.SideBarNav .MuiListItem-root a:hover,.SideBarNav .MuiListItem-root a:focus,.SideBarNav .MuiListItem-root a:active {
    background: rgba(238, 246, 255, 0.2);
    border-radius: 4px;
    color: #FFFFFF;
}
.listDs,.listClient{
    padding-top: 0;
    padding-bottom: 0;
}

.listTitle {
    padding-top: 0;
    padding-bottom: 1.5em;
}

.listDs span {
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: -20px;
}

.listTitle span,.listClient span{
    font-size: 30px;
}

.listClient span {
    margin-top: -15px;
    margin-bottom: -30px;
    font-weight: 600;
}
#colorPalette .MuiBox-root .MuiBox-root {
    text-align: center;
}

.titleComponents{
    background: #112B45;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    font-size: 1.15em!important;
    margin-bottom: 2rem!important;
}